<!DOCTYPE html>
<html>
<head>
  <title>Luke</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1> My Website </h1>
  <%= link_to 'home', '/home' %> 
  <%= link_to 'stink', '/stink' %> 
  <%= link_to 'contacts', '/contacts' %> 
<%= yield %>

</body>
</html>
